/* .fa:hover {
    opacity: 0.7;
} */

.fa-linkedin {
    padding: 10px;
    font-size: 30px;
    width: 80px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
  }
  
.fa-youtube {
    padding: 10px;
    font-size: 30px;
    width: 80px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
}
  
.fa-instagram {
    padding: 10px;
    font-size: 30px;
    width: 80px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
}
  
.fa-twitter {
   padding: 10px;
    font-size: 30px;
    width: 80px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
} 
  
.fa-github {
   padding: 10px;
    font-size: 30px;
    width: 80px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
}

.fa-github {
    padding: 10px;
     font-size: 30px;
     width: 80px;
     text-align: center;
     text-decoration: none;
     margin: 5px 2px;
}

.fa-snapchat {
    padding: 10px;
     font-size: 30px;
     width: 80px;
     text-align: center;
     text-decoration: none;
     margin: 5px 2px;
}

.fa-pinterest-p {
    padding: 10px;
     font-size: 30px;
     width: 80px;
     text-align: center;
     text-decoration: none;
     margin: 5px 2px;
}

.fa-facebook-official {
    padding: 10px;
     font-size: 30px;
     width: 80px;
     text-align: center;
     text-decoration: none;
     margin: 5px 2px;
}
